[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scapy-python3 = "==0.26"
netifaces = "*"
psycopg2 = "==2.9.1"
watchdog = "==2.1.6"
gevent = "==21.8.0"
bcrypt = "==3.2.0"
cffi = "==1.15.0"
click = "==8.0.3"
cryptography = "==35.0.0"
greenlet = "==1.1.2"
itsdangerous = "==2.0.1"
MarkupSafe = "==2.0.1"
pycparser = "==2.20"
PyNaCl = "==1.4.0"
simplejson = "==3.17.5"
six = "==1.16.0"
tornado = "==6.1"
"zope.event" = "==4.5.0"
"zope.interface" = "==5.4.0"
requests = "*"
certifi = "==2021.10.8"
charset-normalizer = "==2.0.10"
idna = "==3.3"
urllib3 = "==1.26.8"
psycopg2-binary = "==2.9.3"
Flask-Script = "==2.0.6"
flask-sqlalchemy = "==2.5.1"
flask = "*"
jinja2 = "==3.0.2"
paramiko = "==2.8.0"
python3-nmap = "==1.5.1"
sqlalchemy = "==1.4.25"
webssh = "==1.5.3"
update = "*"
werkzeug = "*"

[dev-packages]
