{% extends 'base.html' %}

{% block content %}
<div class="container">
    <img class="top-images-l" src="{{ url_for('static', filename='images/pakuri3-banner.png') }}" alt="">
    <img class="top-images-s" src="{{ url_for('static', filename='images/pakuri-logo.png') }}" alt="">
</div>
<hr>
    <div class="grid_hostlist">
        <a class="item1" href="{{ url_for('hostlist') }}" role="button">
            <img src="{{ url_for('static',filename='images/target.png') }}"><br>
            Targets
        </a>
        <a class="item1" href="{{ url_for('index') }}" role="button">
            <img src="{{ url_for('static',filename='images/kali-www.svg') }}"><br>
            kali-toools
        </a>
        <a class="item1" href="{{ url_for('index') }}" role="button">
            <img src="{{ url_for('static',filename='images/github-logo.png') }}"><br>
            Github Tools
        </a>
        <a class="item1" href="{{ url_for('tools') }}" role="button">
            <img src="{{ url_for('static',filename='images/setting.png') }}"><br>
            Tools
        </a>
        <a class="item1" href="{{ url_for('terminal') }}" role="button">
            <img src="{{ url_for('static',filename='images/cmd.png') }}"><br>
            Terminal
        </a>
        <a class="item1" href="http://{{ myip }}:8065" target="_blank" rel="noopener noreferrer" role="button">
            <img src="{{ url_for('static',filename='images/chat.png') }}"><br>
            Chat
        </a>
        <a class="item1" href="{{ url_for('task') }}" role="button">
            <img src="{{ url_for('static',filename='images/task.png') }}"><br>
            Task View
        </a>
        <a class="item1" href="{{ url_for('docker') }}" role="button">
            <img src="{{ url_for('static',filename='images/docker.png') }}"><br>
            Docker
        </a>
        <a class="item1" href="{{ url_for('qr_reader') }}" role="button">
            <img src="{{ url_for('static',filename='images/qr_icon.svg') }}"><br>
            QR Reader
        </a>
    </div>
<hr>

{% endblock %}
