{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static',filename='js/qr_packed.js') }}"></script>
{% endblock %}

{% block content %}
<h2>QR Code Reader</h2>
<div class "container">
    <textarea size=16 placeholder="Tracking Code" class=qrcode-text id="qrcode-text"></textarea>
    <label class=qrcode-text-btn>
        <input type=file accept="image/*" capture=environment onchange="openQRCamera(this);" tabindex=-1>
    </label> 
    <br>
    <hr>
    <div class="form">
        <table>
            <tr>
                <td>
                    <form action="/qr_reader" method="POST">
                        <input type="text" id="setCommand" name="setCommand" value="" hidden/>
                        <button type="submit" id="sendCommand" class="ostype btn btn-primary">
                            <i class='bx bx-play-circle' ></i><br>Execute</button>
                    </form>
                </td>
                <td>
                    <button class="ostype btn btn-success" onclick="location.href='{{ url_for('index') }}'">
                        <i class='bx bx-home'></i><br>Home</button>
                </td>
            </tr>
        </table>
    </div>

    <input type=button value="Go" disabled>
</div>

{% endblock %}

{% block foot %}

<script>
    function openQRCamera(node) {
        var reader = new FileReader();
        reader.onload = function() {
            node.value = "";
            qrcode.callback = function(res) {
                if(res instanceof Error) {
                    alert("No QR code found. Please make sure the QR code is within the camera's frame and try again.");
                } else {
                    node.parentNode.previousElementSibling.value = res;
                    let hoge = document.getElementById("qrcode-text");
                    let obj = document.getElementsByName("setCommand")[0];
                    obj.value = hoge.value;
                }
            };
            qrcode.decode(reader.result);
        };
        reader.readAsDataURL(node.files[0]);
    }

    function showQRIntro() {
        return confirm("Use your camera to take a picture of a QR code.");
    }
</script>
{% endblock %}
