{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static',filename='js/qr_packed.js') }}"></script>
{% endblock %}

{% block content %}
    <textarea size=16 placeholder="Tracking Code" class=qrcode-text ></textarea>
    <label class=qrcode-text-btn>
        <input type=file accept="image/*" capture=environment onclick="return showQRIntro();" onchange="openQRCamera(this);" tabindex=-1>
    </label>
    <input type=button value="Go" disabled>


{% endblock %}

{% block foot %}

<script>
    function openQRCamera(node) {
        var reader = new FileReader();
        reader.onload = function() {
            node.value = "";
            qrcode.callback = function(res) {
                if(res instanceof Error) {
                    alert("No QR code found. Please make sure the QR code is within the camera's frame and try again.");
                } else {
                    node.parentNode.previousElementSibling.value = res;
                }
            };
            qrcode.decode(reader.result);
        };
        reader.readAsDataURL(node.files[0]);
    }

    function showQRIntro() {
        return confirm("Use your camera to take a picture of a QR code.");
    }
</script>
{% endblock %}
