{% extends 'base.html' %}

{% block content %}
    <div class="pt-2">
        <button class="ostype btn btn-success" onclick="location.href='{{ url_for('index') }}'"><i class='bx bx-home'></i><br>Home</button>
        <button class="ostype btn btn-success" onclick="location.href='{{ url_for('hostlist') }}'"><i class='bx bx-target-lock' ></i><br>Target</button>
    </div>
    <hr>
    <h2>Reconnaissance -Menu-</h2>
    <form action="{{ url_for('recon_menu', ip=ip ) }}" method="get">
        {% if ip != "" %}
            <sapn class="scan-label">Target : <input type="text" name="ip" class="bg-dark border-dark text-white" value= {{ ip }} ></input></sapn>
        {% else %}
            <span class="scan-label">Target : <input type="text" name="ip" class="bg-dark border-dark text-white" placeholder="Target IP : 127.0.0.1" ></input></span>
        {% endif %}
            <button type="submit" class="ostype btn btn-primary"><i class='bx bx-check'></i><br>Set</button>
    </form>
    <br>
    <div class="container">
        <div class="grid_hostlist">
            <a class="item1" href="{{ url_for('scan_nmap', ip=ip) }}" role="button">
                <img src="{{ url_for('static',filename='images/nmap-logo.svg') }}" style="display: block; margin: auto;" width="128" height="128" alt="">
                <h4 style="text-align:center">Nmap</h4>
            </a>
            <a class="item1" href="{{ url_for('scan_nikto', ip=ip) }}" role="button">
                <img src="{{ url_for('static',filename='images/nikto-logo.svg') }}" style="display: block; margin: auto;" width="128" height="128" alt="">
                <h4 style="text-align:center">Nikto</h4>
            </a>
            <a class="item1" href="{{ url_for('scan_nmap', ip=ip) }}" role="button">
                <img src="{{ url_for('static',filename='images/autorecon.png') }}" style="display: block; margin: auto;" width="128" height="128" alt="">
                <h4 style="text-align:center">AutoRecon</h4>
            </a>
            <a class="item1" href="{{ url_for('terminal') }}" role="button">
                <img src="{{ url_for('static',filename='images/cmd.png') }}" style="display: block; margin: auto;" width="128" height="128" alt="">
                <h4 style="text-align:center">Terminal</h4>
            </a>
        </div>
    </div>
    <hr>
{% endblock %}
