{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/command.css') }}">
    <script src="{{ url_for('static',filename='DataTables/datatables.min.js') }}"></script>
    <script>
        jQuery(function($){
            $.extend( $.fn.dataTable.defaults, {
                language: {
                    url: "{{ url_for('static', filename='json/Japanese.json') }}"
                }
        });

        });
    </script>
{% endblock %}

{% block content %}
    <div class="pt-2">
        <button class="ostype btn btn-success" onclick="location.href='{{ url_for('index') }}'"><i class='bx bx-home'></i><br>Home</button>
        <button class="ostype btn btn-success" onclick="location.href='{{ url_for('scan_menu') }}'"><i class='bx bx-arrow-back'></i><br>Back</button>
    </div>
    <hr>
    <h2>Scanning -Nmap-</h2>
    <h3>Recipe</h3>
    <div>
        <P>
            <strong><font size="3">Target: </font></strong>
            <select id="hosts" class="bg-dark border-dark text-white" style="width:150px">
                {% if ip != "" %}
                    <option value={{ ip }}>{{ ip }}</option>
                {% else %}
                    <option disabled selected>Select Target</option>
                {% endif %}
                    <optgroup label="Other Hosts">
                        {% for host in hosts %}
                        <option value="{{ host[0] }}">{{ host[0] }}</option>
                        {% endfor %}
                    </optgroup>
            </select>
        </p>
        <p>
            <strong><font size="3">Scan Profile: </font></strong>
            <select id="scanOption" class="bg-dark border-dark text-white" style="width:250px">
                <option disabled selected value="0">Choice Scan Profile</option>
                <optgroup label="Nmap Scan">
                    {% for scantype in commands %}
                        <option value="{{ scantype[0] }},{{ scantype[1] }},{{ scantype[2] }},{{ scantype[3] }},{{ scantype[5] }}">{{ scantype[2] }}</option>
                    {% endfor %}
            </select>
            <br>
            Information:<br>
            <textarea id="detail" name="detail" class="bg-dark border-dark text-white" style="width:100%" wrap="soft"></textarea>
        </p>
    </div>
<hr>
    <h5>Command:</h5>
    <textarea id="copyCommand" name="copyCommand" class="bg-dark border-dark text-white" style="font-size:120%; width:100%" rows="4" wrap="soft" placeholder="Your Command of choice" value=""></textarea>
        <br>
        <br>
    <div class="form">
        <table>
            <tr>
                <td>
                    <form action="/scan_nmap" method="POST">
                        <input type="hidden" id="setFilename" name="setFilename" value="" />
                        <input type="text" id="setCommand" name="setCommand" value="" hidden />
                        <button type="submit" id="sendCommand" class="ostype btn btn-primary">
                            <i class='bx bx-task'></i><br>Task</button>
                    </form>
                </td>
                <td>
                    <button class="ostype btn btn-success" onclick="copyToClipboard()" >
                        <i class='bx bx-copy-alt' ></i><br>Copy</button>
                </td>
                <td>
                    <button class="ostype btn btn-success" onclick="location.href='{{ url_for('terminal') }}'">
                        <i class='bx bx-terminal'></i><br>Terminal</button>
                </td>
            </tr>
        </table>
    </div>
    <hr>
{% endblock %}
{% block foot %}

<script>
    function copyToClipboard() {
        var copyText = document.getElementById("copyCommand");
        copyText.select();
        document.execCommand("copy");
    }
    $(function(){
        $('#hosts').change(function(){
            var val = $(this).val();
            $('#setCommand').val(val);
            $('#scanOption').val("0");
            $('#copyCommand').val(val);
            $('#setFilename').val(val);
        });
        $('#scanOption').change(function(){
            var commandID = $(this).val().split(',')[0];
            var commandName = $('#scanOption').val().split(',')[1];
            var commandValue = $('#scanOption').val().split(',')[3];
            var commandDetail = $('#scanOption').val().split(',')[4];
            var commandLabel = $('#scanOption option:selected').text();
            var IPaddr = $('#hosts').val();
            var dt = new Date();
            var dateTime = dt.getFullYear() + ("0" + (dt.getMonth() + 1)).slice(-2) + ("0" + dt.getDate()).slice(-2) + ("0" + dt.getHours()).slice(-2) + ("0" + dt.getMinutes()).slice(-2) + ("0" + dt.getSeconds()).slice(-2);
            var filename = commandName + "_" + IPaddr + "_" + dateTime;
            $('#setCommand').val("");
            $('#copyCommand').val("");
            $('#setCommand').val(commandValue + " " + IPaddr + " -oA tmp/" + filename);
            $('#copyCommand').val(commandValue + " " + IPaddr + " -oA tmp/" + filename);
            $('#setFilename').val(filename);
            $('#detail').val(commandDetail);
            var table = $('#detail-table').DataTable();
            table.search('').columns().search('').draw();
            table.column( 0 ).search( commandID ).draw();
            table.column( 1 ).search( commandLabel ).draw();
        });
    });
</script>

{% endblock %}
